.custom-swal-button {
    background-color: rgb(73, 151, 185) !important; /* Custom color */
    color: #fff !important; /* Text color */
    border: none !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    cursor: pointer !important;
  }
  
  .custom-swal-button:hover {
    background-color: #0056b3 !important; /* Hover color */
  }
  