.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url("https://cdn.vezeeta.com/account-mgmt-web/1-22-7/assets/background.png");

  }