.appointments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.date-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.date-controls button {
  background: white;
  border: 1px solid #ccc;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}



.date-controls span {
  font-size: 16px;
  margin-right: 10px;
}

.date-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  max-width: 200px; 
}

.date-input:focus {
  outline: none;
  border-color: cadetblue;
}


.add-appointment .add-appointment-button {
  background: rgb(67, 81, 240);
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.add-appointment .add-appointment-button:hover {
  background:rgb(61, 61, 239);
}

.add-appointment .refresh-button {
  background: white;
  border: none;
  color: rgb(107, 102, 102);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
.appointments-by-day{
  background-image: url("https://cdn.vezeeta.com/account-mgmt-web/1-22-7/assets/background.png");
  height: 100vh;
  padding: 20px;

}
.appointment-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(74, 72, 72, 0.1);
  background-color: #f8f2f2;
  transition: transform 0.2s;
  max-width: 300px;
}

.appointment-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



.no-appointments {
  margin-top: 120px;
  font-size: 16px;
  color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-appointments img {
  width: 200px;
  height: auto;
  margin-bottom: 0px;
}


.custom-calendar{
  font-family: Arial, sans-serif;
  border-radius: 5px;
  width: 200px;
  margin-left: 20px;
}


.p-datepicker {
  background-color: white;
  font-size: small;
  color: gray;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(103, 100, 100, 0.2);
  padding: 10px;
  
}

.p-datepicker-header {
  color:rgb(78, 73, 73);
  border-bottom: #eee7e7 1px solid;
  font-size: medium;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.p-datepicker-prev, .p-datepicker-next {
  color: black;
  cursor: pointer;
}

.p-datepicker table {
  width: 90%;
  border-collapse: collapse;
}

.p-datepicker td {
  padding: 8px;
  text-align: center;
}

.p-datepicker .p-highlight {
  background-color: #007bff;
  border: #888 1px solid;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  color: #fff;
}


.p-datepicker-trigger {
  font-size: 200px; 
  color: #9aa6b2; 
  cursor: pointer;
  border: none;
  width: 50px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .appointments-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-controls {
    margin-bottom: 10px; 
  }

  .date-controls span {
    margin-bottom: 5px; 
  }

  .add-appointment-button {
    margin-top: 10px; 
  }
}


